body {
    margin: 0px;
    padding: 0px;
    background-image: url('../images/notes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    text-align: center;   
}
